<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Boogerman Clothes store {% endblock %}</title>
</head>
<body>
    {% block content %}
        <div>
            <header>Boogerman brand</header>
        </div>
        <div>
            <ul> Menu
                <li>Clothes</li>
                <li>Shoes</li>
                <li>Jackets</li>
            </ul>
        </div>
        <div>
            <footer>
                <p>Booooger Logo</p>
            </footer>
        </div>
    {% endblock %}
</body>
</html>